<!-- Users list from admin dashboard -->
<%- include("./partials/adminHeader.ejs",{title:'Admin Dashboard', admin}) -%>
<main>
<section class="align">
    <section class="users-list table-section">
        <div class="table-container">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Profile photo</th>
                    <th>Actions</th>
                </tr>

                <% users.forEach(user=>{ %>
                    <tr>
                        <td>
                            <%= user.fullName %>
                        </td>
                        <td>
                            <%= user.email %>   
                        </td>
                        <td>
                            <%= user.phoneNumber %>
                        </td>
                        <td><img src="/uploads/<%= user.imageFileName %>" alt=""></td>
                        <td><a href="/api/admin/userEdit/<%= user._id %>">Edit</a> <a href="/api/admin/users"
                                onclick="deleteUser('<%= user._id %>')">Delete</a></td>
                    </tr>
                    <% }) %>
            </table>
        </div>

    </section>
</section>
   

    <script>


        async function deleteUser(userId) {
            try {
                const response = await fetch(`/api/admin/userDelete/${userId}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                if (!response.ok) {
                    const errorData = await response.json();
                    throw new Error(errorData)
                }
                const deletedUser = await response.json();
                console.log('user deleted successfully', deletedUser);
                // alert('user deleted successfully...')


            } catch (err) {
                console.error(err);
            }
        }
    </script>
</main>
    <%- include("./partials/footer.ejs") -%>